@import "common/mixins";
@import "common/variables";

@import "components/articles/featured-slider";
@import "components/articles/featured-article";

.section-newsletter__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.section-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  width: 1132px;
  height: 310px;
  border-radius: 16px;

  background-color: #0B111C;

  text-align: center;
}

.section-newsletter h1 {
  color: #fff !important;
  font-family: "Poppins", "Source Sans Pro", Helvetica, Arial, sans-serif;
  letter-spacing: -0.035em;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

.section-newsletter p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.035em;
  margin-top: 10px;
}