@import "common/mixins";
@import "common/variables";
@import "common/helpers";

@import "layouts/post-content";

@import "components/ui/button";
@import "components/ui/input";
@import "components/articles/share";
@import "components/subscribe/subscribe-section";
@import "components/author/author";
@import "components/author/picture";
@import "components/author/links";
@import "components/comments/comments";
@import "components/articles/recommended";
@import "components/articles/recommended-articles";
@import "components/articles/recommended-slider";
@import "components/subscribe/subscribe-section";

.l-wrapper .in-caption {
  padding-top: 0px !important;

  .m-small-text {
    font-size: 14px;
    margin-bottom: 10px !important;
  }
}

.post-template .m-hero.with-picture {
    min-height: 0 !important;
    padding: 50px 0 0;
  }
  
  .post-template .m-hero__picture {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
  }
  
  .post-template .m-hero__picture img {
    width: 100%;
    height: auto;
    margin-bottom: 0px !important;
  }
  
  @media only screen and (min-width: 48rem) {
    .post-template .m-hero.with-picture {
      padding: 67px 0 0;
    }
  }