.m-hero-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 108.5%;

  /* or 46px */
  text-align: center;
  letter-spacing: -0.04em;

  @include respond-to('medium') {
    font-size: 42px;
  }

  &.bigger {
    line-height: 108.5%;
    font-size: 18px;
    margin-bottom: 25px;

    @include respond-to('medium') {
      font-size: 42px;
    }
  }

  &.with-picture {
    color: $white;
  }
}
