.m-hero-description {
  font-family: 'Poppins',  "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 108.5%;

  /* or 46px */
  text-align: center;
  letter-spacing: -0.04em;

  @include respond-to('medium') {
    font-size: 42px;
  }

  &.bigger {
    line-height: 108.5%;
    
    @include respond-to('medium') {
      font-size: 42px;
    }
  }

  &.with-picture {
    color: $white;
  }
}
