.m-hero-title {
  color: var(--titles-color);
  font-family: "Poppins", "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 108.5%;

  /* or 46px */
  text-align: center;
  letter-spacing: -0.04em;

  @include respond-to('medium') {
    letter-spacing: -0.04px;
    font-size: 42px;
  }

  &.bigger {
    letter-spacing: -0.04px;
    font-size: 42px;

    @include respond-to('medium') {
      letter-spacing: -0.04px;
      font-size: 42px;
      margin-bottom: 10px;
    }
  }
}
