/** Mixins */
/** Colors */
/** Config  */
.l-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.l-fullscreen__content {
  text-align: center;
  padding: 0 20px;
}
@media only screen and (min-width: 48rem) {
  .l-fullscreen__content {
    max-width: 500px;
  }
}
@media only screen and (min-width: 48rem) {
  .l-fullscreen__content.in-subscribe-page {
    padding: 0;
  }
}
@media only screen and (min-width: 64rem) {
  .l-fullscreen__content.in-subscribe-page {
    max-width: 820px;
  }
}

.m-back {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--titles-color);
  letter-spacing: 0.2px;
  font-size: 0.875rem;
  cursor: pointer;
  z-index: 2;
}
@media only screen and (min-width: 48rem) {
  .m-back {
    top: 40px;
    letter-spacing: 0.3px;
    font-size: 1rem;
  }
}
.m-back span {
  color: inherit;
  display: inline-block;
}

.rtl .m-back span:first-of-type {
  order: 2;
}

.m-back__icon {
  font-size: 0.75rem;
  margin-right: 10px;
}
@media only screen and (min-width: 48rem) {
  .m-back__icon {
    font-size: 0.875rem;
  }
}

.rtl .m-back__icon {
  order: 1;
}

.section-newsletter__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 20px 20px;
}

.section-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 400px;
  border-radius: 16px;
  margin: 20px;
  background-color: var(--newsletter-section-color);
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media only screen and (min-width: 48rem) {
  .section-newsletter {
    width: 760px;
    height: 310px;
  }
}
@media only screen and (min-width: 64rem) {
  .section-newsletter {
    width: 900px;
    height: 310px;
  }
}
.section-newsletter .filled__blue-send {
  display: block;
  margin-left: 14px;
  width: 142px;
}

.section-newsletter-form-container {
  display: flex;
  padding-top: 33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-newsletter-form-container .filled__blue-send {
  width: 250px;
  margin-top: 13px;
  margin-left: 13px;
  margin-right: 13px;
}
@media only screen and (min-width: 48rem) {
  .section-newsletter-form-container {
    flex-direction: row;
  }
  .section-newsletter-form-container .filled__blue-send {
    width: 142px;
    display: block;
    margin-top: 0px;
    margin-left: 14px;
  }
}

.newsletter-input {
  width: 250px;
  height: 50px;
  outline: none;
  color: #CACACA;
  background-color: var(--newsletter-input-color);
  border: 1px solid var(--newsletter-input-color);
  border-radius: 6px;
  margin: 0px 13px;
  padding: 13px 13px 13px 13px;
  box-shadow: none;
}
.newsletter-input:focus {
  border-color: #0066FF;
  box-shadow: 1px 1px 0 #0066FF;
}
@media only screen and (min-width: 48rem) {
  .newsletter-input {
    width: 346px;
  }
}

.newsletter-input:focus {
  color: #dadada;
}

.section-newsletter h1 {
  color: white;
  font-family: "Poppins", "Source Sans Pro", Helvetica, Arial, sans-serif;
  letter-spacing: -0.035em;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  padding: 0px 3px;
}
@media only screen and (min-width: 48rem) {
  .section-newsletter h1 {
    padding: 0px;
  }
}

.section-newsletter .section-newsletter-description {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.035em;
  margin-top: 6px;
  padding: 0px 5px;
}
@media only screen and (min-width: 48rem) {
  .section-newsletter .section-newsletter-description {
    padding: 0px;
  }
}

.section-newsletter-form .success-message {
  display: none;
}

.section-newsletter-form .error-message {
  display: none;
}

.section-newsletter-form .invalid-message {
  display: none;
}

.section-newsletter-form.error .error-message,
.section-newsletter-form.success .success-message,
.section-newsletter-form.invalid .invalid-message {
  display: block;
}